* {
  padding: 0px;
  margin: 0px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ol,
ul,
li {
  margin: 0px;
  padding: 0px;
}
.mian {
  width: 1200px;
  margin: 0px auto;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearFixed::after {
  content: "";
  display: block;
  clear: both;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.imagelogo {
  width: 18px;
  height: 18px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: 60px 108px;
}
.header {
  height: 160px;
}
.header .header_top {
  height: 40px;
  background-color: #32373e;
}
.header .header_top .top_content {
  width: 1200px;
  margin: 0px auto;
  height: 40px;
}
.header .header_top .top_content .conLeft {
  float: left;
  height: 40px;
  line-height: 40px;
}
.header .header_top .top_content .conLeft .leftTxt1 {
  float: left;
}
.header .header_top .top_content .conLeft .leftTxt1 .logo {
  font-size: 22px;
  color: #00b38a;
  margin-right: 32px;
}
.header .header_top .top_content .conLeft .leftTxt1 .city {
  font-size: 14px;
  color: #0dca9f;
  margin-right: 14px;
}
.header .header_top .top_content .conLeft .leftTxt1 .changeCity {
  font-size: 14px;
  color: #afb5c0;
  margin-right: 36px;
}
.header .header_top .top_content .conLeft .ulList {
  float: left;
}
.header .header_top .top_content .conLeft .ulList li {
  font-size: 14px;
  float: left;
  text-align: center;
}
.header .header_top .top_content .conLeft .ulList li a {
  display: block;
  width: 70px;
  color: gray;
}
.header .header_top .top_content .conLeft .ulList li a:hover {
  color: #fff;
}
.header .header_top .top_content .conLeft .ulList li:first-child {
  background-color: black;
}
.header .header_top .top_content .conLeft .ulList li:first-child a {
  color: #fff;
}
.header .header_top .top_content .conRight {
  float: right;
  height: 40px;
}
.header .header_top .top_content .conRight ul li {
  float: left;
  line-height: 40px;
  font-size: 12px;
}
.header .header_top .top_content .conRight ul li a {
  display: block;
}
.header .header_top .top_content .conRight ul li a:hover {
  color: #fff;
}
.header .header_top .top_content .conRight ul li a .people {
  float: left;
  width: 18px;
  height: 18px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: 60px 108px;
  background-position: -9px -32px;
  margin: 10px 5px 0px 0px;
}
.header .header_top .top_content .conRight ul li a .phone {
  float: left;
  width: 18px;
  height: 18px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: 60px 108px;
  background-position: -30px -32px;
  margin: 10px 0px 0px 0px;
}
.header .header_top .top_content .conRight ul li .login {
  padding-left: 28px;
  color: #93b5c0;
}
.header .header_top .top_content .conRight ul li .login2 {
  margin-right: 40px;
  color: #93b5c0;
}
.header .header_top .top_content .conRight ul li .login2 span {
  margin: 0px 12px;
}
.header .header_top .top_content .conRight ul li .app {
  color: #08d7a2;
  margin-right: 24px;
}
.header .header_top .top_content .conRight ul li:last-child {
  margin-right: 8px;
}
.header .header_top .top_content .conRight ul li:last-child a {
  color: #93b5c0;
}
.header .header_top .top_content .conRight ul li:last-child a:hover {
  color: #fff;
}
.header .header_bottom {
  height: 120px;
  background-color: #00b38a;
}
.header .header_bottom .bottom_content {
  width: 1200px;
  margin: 0px auto;
  height: 120px;
  background-color: blue;
}
